<footer class="footer">
    <div class="container">
        <p class="text-muted">this project was made by
            <a href="http://github.com/johndupper" target="_blank" class="footer-link">john dupper</a>
            as part of the full-stack web development curriculum at
            <a href="http://ga.co" target="_blank" class="footer-link">general assembly</a>.</p>
    </div>
</footer>
