<nav class="navbar navbar-full navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Coffee Culture</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>

            <% if (currentUser) { %>
                <li><a href="/posts">Posts</a></li>
                <li><a href="/posts/new">New Post</a></li>
                <li><a href="../logout">Log Out</a></li>
            <% } %>
        </ul>

        <div class="flash">
            <% if (typeof message !== 'undefined') { %>
            <% if (typeof message.error !== 'undefined' && message.error.length > 0) { %>
            <div class="bg-danger"><%= message.error %></div>
            <% } %>
            <% if (typeof message.info !== 'undefined' && message.info.length > 0) { %>
            <div class="bg-info"><%= message.info %></div>
            <% } %>
            <% if (typeof message.success !== 'undefined' && message.success.length > 0) { %>
            <div class="bg-success"><%= message.success %></div>
            <% } %>
            <% } %>
        </div>

    </div>
</nav>
