<nav class="">
    <div class="">

        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Coffee Culture</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">

                <% if (currentUser) { %>
                <li><a href="/">Home</a></li>
                <li><a href="/posts">Posts</a></li>
                <li><a href="/posts/new">New Post</a></li>
                <li><a href="../logout">Log Out</a></li>
                <% } %>
            </ul>

        </div>






        <div class="flash">
            <% if (typeof message !== 'undefined') { %>
            <% if (typeof message.error !== 'undefined' && message.error.length > 0) { %>
            <div class=""><%= message.error %></div>
            <% } %>
            <% if (typeof message.info !== 'undefined' && message.info.length > 0) { %>
            <div class=""><%= message.info %></div>
            <% } %>
            <% if (typeof message.success !== 'undefined' && message.success.length > 0) { %>
            <div class=""><%= message.success %></div>
            <% } %>
            <% } %>
        </div>

    </div>
</nav>
