<h1>Oh no! It appears someone spilled...</h1>
<h3>My robot tells me: "<%= message %>".</h3>
<h4>If you're feeling like <a href="https://http.cat/<%= error.status %>" target="_blank">this</a>, you're not alone.</h4>

<br><br><br>

<h4>If you're feeling extra caffinated, here's a look under the hood:</h4>
<span><%= error.stack %></span>
