<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs%>
</head>

<body class="container-fluid">
    <header>
        <% include partials/header %>
    </header>


    <div class="container">

        <div class="starter-template">
            <h1>Coffee Culture</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br>
                All you get is this text and a mostly barebones HTML document.</p>
            <button class="btn btn-lg btn-info">Sign Up</button>
            <button class="btn btn-lg btn-warning">Log In</button>
        </div>

    </div><!-- /.container -->


    <footer>
        <% include partials/footer %>
    </footer>
</body>
</html>
