<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>

<body class="container-fluid">
    <header>
        <% include partials/header %>
    </header>

    <div class="container">
        <div class="jumbotron col-sm-8 col-sm-offset-2">
            <h2>Welcome</h2>
            <h4>Please sign up or log in</h4>
            <a class="btn btn-info btn-lg" href="signup" role="button">Sign Up</a>
            <a class="btn btn-warning btn-lg" href="login" role="button">Log In</a>
        </div>
    </div> <!-- body wrapper -->


    <footer>
        <% include partials/footer %>
    </footer>
</body>
</html>
