/* app wide */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 35px;
    background: #905000;
    font-family: 'Dosis', sans-serif;
    color: #452514;
}
p {
    font-size: 1.4rem;
    letter-spacing: 1.5px;
    color: #fbe293;
}
label {
    font-size: 2rem;
}

/* header */
.navbar-brand {
    font-size: 3rem;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #a67232;
    text-decoration: none;
}
.navbar-full a {
    color: #fbe293;
}

/* index */
.btn-signup {
    color: #563000;
    background: #e0b87d;
}
.btn-login {
    color: #563000;;
    background: #d6a254;
}

/* post index */
.jumbotron {
    background: #fff7db;
    color: #563000;
}

/* posts */
.panel {
    background-color: burlywood;
    border: 1px solid #905000;
}
.panel-default > .panel-heading, .panel-footer {
    background-color: #5a2a02;
    color: #ffe68f;
    border: none;
}
.post-inline {
    display: inline;
}

/* error */
div.well {
    background-color: #5a2a02;
    color: #fdf6de;
}

/* footer */
.footer {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    height: 35px;
    text-align: center;
    background-color: #5a2a02;
}
.text-muted {
    color: #fbe293;
}
.footer-link,
.footer-link:hover,
.footer-link:active,
.footer-link:visited {
    color: #fdf6de;
}
.error-text {
    font-family: monospace;
    font-size: 1rem;
}